.container {
  width: 100%;
  max-width: 1380px; /* or 1280px, 1440px depending on design */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;   /* 16px */
  padding-right: 1rem;  /* 16px */
}

@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem; /* 32px */
    padding-right: 2rem;
  }
}
.loader {
    border: 4px solid #f3f3f3; /* Light gray */
    border-top: 4px solid #9334EB; /* Purple */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}